@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "swiper/swiper-bundle.min.css"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --btn: #8875ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #fff;
    --btn: #8875ff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}


/* scroll bar  */

/* Width and background */
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  background-color: #888;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
